/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    display: border-box;
}

html, body {
    height: 100%;
    font-family: 'Boogaloo', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

#wrapper {
	max-width:980px;
    margin: 0 auto;
    padding: 15px;
}

/* Navigation Section */
nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.links {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
	font-family: Lobster;
	font-size: 20px;
}

nav a {
	text-decoration: none;
    color: #5f5f5f;
    
}

nav a:hover {
	color: black;
	font-weight: bold;
	text-shadow: 2px 2px lightskyblue;
}

a {
    text-decoration: none;
    color: black;
}

/* Call to Action Section  */
.call-to-action {
    display: flex;
}

header {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    padding: 20px;
}


.cta-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: 0 auto;
}

 

h1 {
    font-family: Patrick hand SC;
    text-shadow: 2px 2px rgb(8, 147, 233);
	font-weight: bold;
    font-size: 64px      
}

button {
	background-color: whitesmoke; 
	color: black; 
	font-weight: bold;
	font-family: montserrat;
	border: 2px solid rgb(8, 147, 233);
	border-radius: 10px;
	padding: 10px 22px;
	margin: 0 auto;
 	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s; 
}

button:hover {
	background-color:rgb(8, 147, 233);
 	color: black;
 	padding: 5px 20px;
}


/* Top Section with Features and About information */

p {
    font-family: montserrat;
    font-weight: 600;
    font-size: 14px;
}

.content-wrap {
	display: flex;
	flex-direction: column;
    
}
.topsection {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.features, .about {
    margin: 1%;
    padding: 1%;
}

.middle-img {
    background: url("https://i.imgur.com/5119VBA.jpg");
	align-self: auto;
    margin: 0 auto;
    height: 182px;
	width: 100%;
}

.bottomsection {
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
}

.services, .product, .vision {
    margin: 1%;
    padding: 1%;
}

 /* Address and Footer Section */


.bottom-content {
	display: flex;
	flex-direction: column;
	 
}

 .copyright {
    align-self: center;
    margin-top: 20px;
}

hr {
    margin: 20px 0;
    border: 1px solid black;
}

/* Media Query 800px */

@media (max-width: 800px) {
    body {
        background: rgb(253, 247, 227);
        
    }

    nav {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
    }

    .middle-img {
        align-self: auto;
        margin: 0 auto;
        height: 175px;
        width: 95%;
    }
    .cta-content {
        margin: 0 auto;
        align-content: center;
        text-align: center;
}
    .header-img {
        display: none;
    }
}
 

  /* Media Query 500px */

@media (max-width: 500px) {
    body {
        background: rgb(243, 226, 171);
    }


    .links {
        flex-direction: column;
        justify-content: center;        
    }

    nav a {
        border-bottom: 1px solid black;
        padding: 10px;
    }

   .topsection, .bottomsection {
       flex-direction: column;
       flex-wrap: nowrap;
       padding: 10px;

   }

  
  } 